@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: Ubuntu, sans-serif;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;

}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #ecb710;
    border-color: #ecb710;
}

.callout-container {
    height: 100vh;

    background: url('../images/graph.jpg') no-repeat bottom left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.quotes-ontainer {}

.feature-container {}


/* Block deviders */

.block-devider {
    background-color: #95b6e3;
    width: 50%;
    height: 1px;
}


/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {    
    font-weight: bold;
}

/* Jumbotrone */

.jumbotron {
    background-color: transparent
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: white;
}

.jumbotron small {
    font-size: 80%;
    font-style: italic;
    color: white;
}


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 15px;
    width: 150px;
    height: 53px;
    color: black;
    background-color: #c58c23;
    border-color: #c58c23;
}

.btn--cta:hover,
.btn--cta:active,
.btn--cta:focus,
.btn--cta:active:focus {
    background-color: #a9720c;
    border-color: #a9720c;
    color: black;
}